@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

html, body {
	height: 100%;
}

body {
	font-size: 15px;
	min-width: 320px;
	position: relative;
	font-family: $default-font;
	overflow-x: hidden;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}


h1,h2,h3,h4,h5,h6,p,body,ul,li {
	padding: 0;
	margin: 0;
}


ul {
	list-style-type: none;
}

img {
	display: inline-block;
	max-width: 100%;
	height: auto;
}

.text-center {
	text-align: center;
}

.slick-slide {
	outline: none;
}

a {
	cursor: pointer;
	color: inherit;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		color: inherit;
	}
}

p{
	line-height: 26px;
}


//custom
.logo{
	img{
		max-height: 108px;
	}
}

.header-top{
	padding-top: 61px;
	padding-bottom: 41px;
	.row{
		justify-content: space-between;
		align-items: center;
	}
}

.header-top-menu{
	&__title{
		color: $color-heading--black;
		text-transform: uppercase;
		margin-bottom: 6px;
		font-size: 24px;
		font-weight: bold;
		text-align: right;
		line-height: 24px;
	}
	&__phone{
		display: block;
		font-weight: bold;
		font-size: 43px;
		margin-bottom: 10px;
		color: $accent;
		position: relative;
		padding-left: 40px;
		line-height: 43px;
		&:hover{
			color: $accent;
		}
		&::before{
			content: "\f10b";
			color: #c9c9c9;
			font-family: FontAwesome;
			font-size: 63px;
			margin-right: 10px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
		}
	}
	&__descr{
		padding-left: 40px;
		font-size: 15px;
		color: #777;
		span {
			color: $color-heading--black;
		}
	}
}




.box{
	width: 570px;
	position: relative;
	z-index: 2;
	background: rgba(252, 90, 10, 0.85);
	padding: 46px 0 45px 34px;
	color: #ffffff;
	height: 100%;
	.title{
		text-transform: uppercase;
		font-size: 83px;
		line-height: 76px;
		font-weight: bold;
		margin-bottom: 5px;
	}
	.description{
		font-size: 55px;
		text-transform: uppercase;
		margin-bottom: 13px;
		letter-spacing: -1px;
		line-height: 58px;
	}
	.text{
		width: 75%;
	}
	a{
		color: #fff;
		text-align: center;
		width: 80px;
		height: 80px;
		border: 2px solid #fff;
		display: inline-block;
		position: absolute;
		bottom: 30px;
		right: 30px;
		font-size: 55px;
		line-height: 74px;
		transition: all 0.25s;
	}
}


.main-nav{
	background-color: #000;
	&__list{
		display: flex;
		margin: 0;
		//стили для плагина superfish
		&.sf-menu{
			ul{
				width: 270px;
				padding: 30px 0 0 0;
				border: 1px solid #d9d9d9;
				box-shadow: none;
				li{
					margin: 0 0 17px 0;
					padding: 0 0 16px 0;
					display: block;
					padding-left: 30px;
					border-bottom: 1px solid #d9d9d9;
					&:before{
						display: none;
					}
					&:last-child{
						border-bottom: none;
						padding-bottom: 0;
					}
					a{
						text-transform: none;
						font-size: 15px;
						color: $color-heading--black;
						transition: .25s;
						padding-left: 0;
						padding-top: 0;
						padding-bottom: 0;
						font-weight: normal;
						&:hover{
							color: $accent;
							&.sf-with-ul{
								&::after{
									border-left-color: $accent;
								}
							}
						}
						&.sf-with-ul{
							&::after{
								border-top-color: none;
								border-left-color: $color-heading--black;
							}
						}
					}
				}
			}
		}
		li{
			font-size: 19px;
			text-transform: uppercase;
			font-weight: bold;
			transition: all .25s;
			margin-right: 45px;
			background: none !important;
			&.is-active{
				&:before,
				&:after{
					display: block;
				}
			}
			&.sfHover {
				&:before{
					display: none !important;
				}
			}
			&:before{
				position: absolute;
				left: 0;
				bottom: -6px;
				width: 100%;
				height: 7px;
				background: url('../img/tr.png') center bottom no-repeat;
				content: '';
				display: none;
				transition: all 0.25s;
			}
			&:after{
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 10px;
				background: $accent;
				content: '';
				display: none;
				transition: all 0.25s;
			}
			&:last-child{
				margin-right: 0;
			}
			a{
				display: block;
				padding: 29px 0;
				color: #ffffff;
				border: none;
				&.sf-with-ul{
					&::after{
						border-top-color: #ffffff;
					}
				}
			}
		}

	}
}




