@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

html, body {
	height: 100%;
}

body {
	font-size: 15px;
	min-width: 320px;
	position: relative;
	font-family: $default-font;
	overflow-x: hidden;
	color: #6a6d6f;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: $accent;
		}
		&:required:valid {
			border-color: currentColor;
		}
	}
}


h1,h2,h3,h4,h5,h6,p,body,ul,li {
	padding: 0;
	margin: 0;
}


ul {
	list-style-type: none;
}

img {
	display: inline-block;
	max-width: 100%;
	height: auto;
}

.text-center {
	text-align: center;
}

.slick-slide {
	outline: none;
}

a {
	cursor: pointer;
	color: inherit;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		color: inherit;
	}
}

p{
	line-height: 26px;
}

h2{
	line-height: 1.2;
}

//custom
.logo{
	outline: 0;
	@media (max-width: 992px) {
		margin-bottom: 10px;
	}
	img{
		max-height: 108px;
	}
}

.header-top{
	padding: 15px 0;
	background-color: $accent;
	color: #ffffff;
	@media (max-width: 992px) {
		padding: 20px 15px;
	}
	.row{
		justify-content: space-between;
		align-items: center;
		@media (max-width: 992px) {
			flex-direction: column;
		}
	}
}

.header-top-menu{
	@media (max-width: 992px) {
		margin-bottom: 15px;
		text-align: center;
	}
	&__title{
		text-transform: uppercase;
		margin-bottom: 6px;
		font-size: 24px;
		font-weight: bold;
		text-align: right;
		line-height: 24px;
		@media (max-width: 992px) {
			text-align: center;
		}
	}
	&__phone{
		display: flex;
		align-items: center;
		font-weight: bold;
		font-size: 43px;
		margin-bottom: 10px;
		position: relative;
		line-height: 43px;
		@media (max-width: 992px) {
			justify-content: center;
		}
		@media (max-width: 420px) {
			font-size: 35px;
		}
		@media (max-width: 360px) {
			font-size: 30px;
		}
		&::before{
			content: "\f10b";
			font-family: FontAwesome;
			font-size: 63px;
			margin-right: 10px;
			@media (max-width: 420px) {
				font-size: 55px;
			}
			@media (max-width: 360px) {
				font-size: 50px;
			}
		}
	}
	&__descr{
		padding-left: 40px;
		font-size: 15px;
		@media (max-width: 992px) {
			padding-left: 0;
		}
	}
}

.page-box{
	width: 570px ;
	position: relative ;
	z-index: 2 ;
	background: rgba($accent, 0.85);
	padding: 46px 8px 45px 34px ;
	color: #ffffff ;
	height: 100%;
	@media (max-width: 768px) {
		width: 100%;
	}
	@media (max-width: 510px) {
		padding: 30px 0 30px 30px;
	}
	&--large{
		width: 100%;
		padding: 40px 30px 0 30px;
		.row{
			@media (max-width: 992px) {
				height: auto !important;
			}
		}
		.heading{
			margin: 0;
			margin-bottom: 20px;
			@media (max-width: 992px) {
				font-size: 40px;
			}
			@media (max-width: 470px) {
				font-size: 35px;
			}
			@media (max-width: 400px) {
				font-size: 30px;
			}
		}
		.list{
			margin: 0;
			@media (max-width: 768px) {
				margin-bottom: 20px;
			}
			li{
				border-bottom: 1px solid #f98d57;
				color: #ffffff;
				&:hover{
					a{
						background-color: #272d33;
					}
				}
				&:last-child{
					border-bottom: none;
				}
				a{
					color: #ffffff;
				}
			}
		}
	}
	&--galery{
		width: 100%;
		@media (max-width: 992px) {
			height: auto;
			margin-bottom: 30px;
		}
		.title{
			font-size: 50px !important;
			@media (max-width: 576px) {
				font-size: 45px !important;
			}
			@media (max-width: 410px) {
				font-size: 35px !important;
			}
		}
	}
	.title{
		text-transform: uppercase ;
		font-size: 70px ;
		font-weight: bold ;
		margin-bottom: 5px ;
		line-height: 1.1;
		@media (max-width: 768px) {
			width: 100%;
		}
		@media (max-width: 576px) {
			font-size: 60px;
		}
		@media (max-width: 510px) {
			font-size: 40px;
			line-height: 55px;
		}
		@media (max-width: 400px) {
			font-size: 34px;
		}
	}
	.description{
		font-size: 45px ;
		text-transform: uppercase ;
		margin-bottom: 13px ;
		letter-spacing: -1px ;
		line-height: 1.2;
		@media (max-width: 576px) {
			font-size: 30px;
		}
		@media (max-width: 510px) {
			font-size: 25px;
		}
		@media (max-width: 390px) {
			font-size: 21px;
		}
	}
	.text{
		width: 75% ;
		@media (max-width: 510px) {
			font-size: 14px;
			width: 95%;
		}
	}
	.more {
		color: #fff ;
		text-align: center ;
		width: 80px ;
		height: 80px ;
		border: 2px solid #fff ;
		display: inline-block ;
		position: absolute ;
		bottom: 30px ;
		right: 30px ;
		font-size: 55px ;
		line-height: 74px ;
		transition: all 0.25s ;
		@media (max-width: 510px) {
			position: static;
			display: block;
			margin-left: auto;
			margin-right: 20px;
			margin-top: 30px;
		}
	}
}


.main-nav{
	position: relative;
	&__list-wrapper{
		@media (max-width: 992px) {
			display: none;
			position: absolute;
			background-color: $accent;
			left: 0;
			width: 100%;
			top: 100%;
			z-index: 9999;
		}
	}
	&__list{
		display: flex;
		margin: 0;
		@media (max-width: 992px) {
			flex-direction: column;
			padding-top: 30px;
			padding-bottom: 50px;
			width: 100%;
		}
		//стили для плагина superfish
		&.sf-menu{
			ul{
				width: 270px;
				padding: 30px 0 0 0;
				border: 1px solid #d9d9d9;
				box-shadow: none;
				background-color: #fff;
				@media (max-width: 992px) {
					position: static;
					width: 100%;
					background-color: $accent;
					border: none;
					padding-left: 30px;
					padding-top: 0;
				}
				li{
					margin: 0 0 17px 0;
					padding: 0 0 16px 0;
					display: block;
					padding-left: 30px;
					border-bottom: 1px solid #d9d9d9;
					font-weight: normal;
					@media (max-width: 992px) {
						margin: 0;
						padding: 0;
						padding-left: 15px;
					}
					&:before{
						display: none;
					}
					&:first-child {
						a{
							@media (max-width: 992px) {
								padding-top: 0;
							}
						}
					}
					&:last-child{
						border-bottom: none;
						padding-bottom: 0;
					}
					a{
						text-transform: none;
						font-size: 15px;
						transition: .25s;
						padding-left: 0;
						padding-top: 0;
						padding-bottom: 0;
						font-weight: normal;
						display: block;
						@media (max-width: 992px) {
							padding: 13px 0;
						}
						&.sf-with-ul{
							&::after{
								border-top-color: transparent;
								border-left-color: $accent;
								@media (max-width: 992px) {
									border-left-color: #ffffff;
								}
							}
						}
					}
				}
			}
		}
		li{
			font-size: 19px;
			text-transform: uppercase;
			font-weight: bold;
			transition: all .25s;
			margin-right: 45px;
			background: none !important;
			@media (max-width: 992px) {
				margin-right: 0;
				border-bottom: 1px solid #ffffff;
			}
			&.is-active{
				&:before,
				&:after{
					display: block;
				}
			}
			&.sfHover {
				&:before{
					display: none !important;
				}
			}
			&:before{
				position: absolute;
				z-index: 1;
				left: 0;
				bottom: -6px;
				width: 100%;
				height: 7px;
				background: url('../img/tr.png') center bottom no-repeat;
				content: '';
				display: none;
				transition: all 0.25s;
				@media (max-width: 992px) {
					display: none !important;
				}
			}
			&:after{
				position: absolute;
				z-index: 1;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 10px;
				background: $accent;
				content: '';
				display: none;
				transition: all 0.25s;
				@media (max-width: 992px) {
					display: none !important;
				}
			}
			&:last-child{
				margin-right: 0;
			}
			a{
				display: block;
				padding: 29px 0;
				color: $accent;
				border: none;
				@media (max-width: 992px) {
					color: #ffffff;
					padding: 13px 0;
					padding-left: 30px;
					font-weight: normal;
				}
				&.sf-with-ul{
					@media (max-width: 992px) {
						padding-right: 0;
					}
					&::after{
						border-top-color: currentColor;
					}
				}
			}
		}

	}
}

.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: currentColor; /* IE8 fallback colour */
}


.slider{
	position: relative;
	margin-bottom: 50px;
	&__item{
		width: 100%;
		height: 580px;
		background-size: cover;
		padding-top: 50px;
		padding-bottom: 50px;
	}
}



.heading{
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-size: 55px;
	margin: 50px 0;
	@media (max-width: 992px) {
		text-align: center !important;
	}
	@media (max-width: 500px) {
		font-size: 35px;
	}
	&--paralax-section{
		margin-top: 30px;
	}
}


.services,
.working-directions{
	overflow: hidden;
}

.services__box-wrapper{
	min-height: 350px;
	margin-bottom: 30px;
}

.services .box,
.working-directions .box{
	padding: 140px 0 25px 27px;
	position: relative;
	background-size: cover;
	background-position: center center;
	height: 100%;
}
.services .box em,
.working-directions .box em{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../img/gradient1.png) repeat-y;
	display: block;
	z-index: 0;
	transition: all 0.25s;
}
.services .box strong,
.working-directions .box strong{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../img/gradient2.png) repeat-y;
	display: block;
	z-index: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	transition: all 0.25s;
}
.services .box .title,
.working-directions .box .title{
	font-weight: bold;
	font-size: 45px;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 10px;
	line-height: 55px;
	@media (max-width: 992px) {
		font-size: 35px;
	}
}
.services .box p,
.working-directions .box p{
	color: #ffffff;
	font-size: 15px;
	margin: 0;
}
.services .box a,
.working-directions .box a{
	color: #ffffff;
	text-align: center;
	width: 80px;
	height: 80px;
	display: inline-block;
	position: absolute;
	bottom: 30px;
	right: 30px;
	font-size: 55px;
	background: $accent;
	line-height: 74px;
	transition: all 0.25s;
	@media (max-width: 500px) {
		width: 70px;
		height: 70px;
	}
}
.services .box a:hover,
.working-directions .box a:hover{
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.services .box .caption,
.working-directions .box .caption{
	position: relative;
	z-index: 1;
	width: 60%;
}
.services .box:hover strong,
.working-directions .box:hover strong{
	opacity: 1;
	filter: alpha(opacity=100);
	transition: all 0.25s;
}
.services .box:hover em,
.working-directions .box:hover em{
	opacity: 0;
	filter: alpha(opacity=0);
	transition: all 0.25s;
}
.services .box:hover a,
.working-directions .box:hover a{
	background: #272d33;
}

.paralax-section {
	overflow: hidden;
	min-height: 575px;
	padding: 50px 0;
	background-size: cover;
	background-position: center center;
	height: 1px;
	&--galery{
		min-height: 500px;
		@media (max-width: 992px) {
			height: auto;
		}
	}
	&--products{
		height: 1px;
		@media (max-width: 768px) {
			min-height: 100vh;
		}
	}
	.container{
		height:100%;
		.row{
			height: 100%;
			@media (max-width: 992px) {
				justify-content: center;
			}
		}
	}
	.list li a {
		@media (max-width: 992px) {
			font-size: 12px;
		}
	}
}

.products {
	overflow: hidden;
	padding: 50px 0;
	padding-bottom: 30px;
	.page-box{
		.title{
			color: #ffffff;
		}
	}
	.row{
		@media (max-width: 992px) {
			justify-content: center;
		}
	}
}
.products .title {
	font-size: 55px;
	line-height: 55px;
	text-transform: uppercase;
	color: #272d33;
	margin-bottom: 25px;
	@media (max-width: 992px) {
		text-align: center;
	}
}
.products .title strong {
	font-weight: bold;
}

.pre-footer {
	overflow: hidden;
	padding: 42px 0 60px 0;
}
.pre-footer .title {
	font-size: 55px;
	font-weight: bold;
	color: $accent;
	line-height: 58px;
	text-transform: uppercase;
	margin-bottom: 13px;
}
.pre-footer .description {
	font-size: 55px;
	margin: 0 0 23px 0;
	color: $accent;
	text-transform: uppercase;
}


#owl-main {
	.item {
		min-height: 600px;
		background-color: #FFF;
		background-size: cover;
		background-position: center center;
		@media (max-width: 992px) {
			min-height: 620px;
		}
	}
	.container {
		height: inherit;
	}
	.row{
		height: inherit;
		padding: 50px 0;
		@media (max-width: 992px) {
			justify-content: center;
			padding: 70px 0;
		}
	}
	.owl-buttons{
		display: none;
	}
	.owl-controls{
		position: absolute;
		bottom: 50px;
		width: 100%;
		@media (max-width: 992px) {
			bottom: 25px;
		}
	}
	.owl-pagination{
		display: flex;
		justify-content: center;
		width: 100%;
		@media (min-width: 992px) {
			justify-content: flex-end;
			padding-right: 15px;
			padding-left: 15px;
			margin-right: auto;
			margin-left: auto;
			max-width: 960px;
		}
		@media (min-width: 1200px) {
			max-width: 1140px;
		}
	}
	.owl-page{
		margin-right: 12px;
		&.active{
			span{
				background-color: $accent;
			}
		}
		&:last-child{
			margin-right: 0;
		}
		span{
			display: block;
			width: 20px;
			height: 20px;
			background-color: #fff;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
		}
	}
}


#toTop{
    cursor: pointer;
    position: fixed;
    bottom: 80px;
    right: 30px;
    overflow: hidden;
    border: none;
    z-index: 20;
	display: none;
    color: #ffffff;
    font-size: 30px;
  	padding: 0;
	background-color: rgba(94,94,94,.5);
    i{
      line-height: 1;
		padding: 15px;
    }
	&:focus{
		outline: 0;
	}
}

.callToAction-btn{
	cursor: pointer;
	background-color: #333333;
	border: 3px solid currentColor;
	text-transform: uppercase;
	padding: 10px 0;
	color: #ffffff;
	width: 200px;
	display: block;
	margin-bottom: 10px;
	text-align: center;
	&:last-child{
		margin-bottom: 0;
	}
	//font-size: 18px;
	//padding: 20px 0;
	//width: 160px;
	@media (max-width: 992px) {
		padding: 10px 0;
	}
	&:focus{
		outline: 0;
	}
}

.working-directions__box-wrapper{
	margin-bottom: 15px;
}

.working-directions .box {
	height: 350px;
	padding: 0;
	display: block;
	background-size: cover;
	background-position: center center;
}

.working-directions .box .caption {
	width: 100%;
	height: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
}

.working-directions .box .caption .title{
	margin-bottom: 0;
	font-size: 25px;
}

.brands{
	margin-bottom: 70px;
}

.brands-slider {
	&__item{
		display: inline-block;
		margin-top: 1px;
		margin-bottom: 1px;
		max-width: 200px;
		box-shadow: 0px 0px 6px 1px rgba(#4f4f4f,.21);
		margin-left: 5px;
		margin-right: 5px;
		@media (max-width: 992px){
			max-width: 190px;
		}
		@media (max-width: 768px){
			max-width: 170px;
		}
		@media (max-width: 576px){
			max-width: 160px;
		}
		@media (max-width: 450px) {
			max-width: 150px;
		}
	}
}

.footer{
	.row{
		align-items: center;
		@media (max-width: 992px) {
			flex-direction: column;
		}
	}
}

.footer-top {
	padding: 53px 0 60px 0;
	overflow: hidden;
	background: #272d33 !important;
	.heading{
		color: #ffffff;
		text-align: left;
		margin-top: 0;
	}
}

.footer-top__menu{
	@media (max-width: 992px) {
		text-align: center;
		margin-bottom: 40px;
	}
	li{
		color: #5e5e5e;
		margin-bottom: 15px;
		transition: .25s;
		&:hover{
			color: #ffffff;
		}
		&:last-child{
			margin-bottom: 0;
		}
		&:hover{
			a{
				color: #ffffff;
			}
		}
		a{
			text-transform: uppercase;
			font-size: 17px;
		}
	}
}

.footer-top .title {
	font-size: 55px;
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: 43px;
	@media (max-width: 992px) {
		text-align: center;
	}
}
.footer-top p {
	color: #ffffff;
	margin-bottom: 15px;
}
.footer-top p strong {
	font-size: 17px;
	text-transform: uppercase;
	color: $accent;
	font-weight: 500;
}
.footer-top p a {
	color: #34aed6;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.footer-top p a:hover {
	color: #ffffff;
}

.footer-top .map {
	height: 300px;
	border: 4px solid $accent;
}

.footer-bottom{
	background-color: #1C2025;
	padding: 24px 0;
    .row{
      justify-content: space-between;
      align-items: center;
    }
	p{
		color: #6a6d6f;
		font-size: 13px;
		em{
			font-style: normal;
		}
		a{
			color: #6a6d6f;
			-webkit-transition: all 0.25s;
			-o-transition: all 0.25s;
			transition: all 0.25s;
			&:hover{
				color: #ffffff;
			}
		}
	}
}

.social{
  color: #5e5e5e;
  display: flex;
  font-size: 20px;
  li{
    margin-right: 20px;
	transition: all .25s;
	&:hover{
		color: #ffffff;
	}
    &:last-child{
      margin-right: 0;
    }
  }
}

.service-categories {
	padding-top: 25px;
	@media (max-width: 992px) {
		text-align: center;
	}
	.list{
		@media (max-width: 992px) {
			text-align: left;
		}
	}
	.heading{
		margin: 0;
		margin-bottom: 30px;
		color: $accent;
		font-weight: normal;
	}
	.box{
		margin-bottom: 20px;
	}
	p{
		margin-bottom: 25px;
	}
}

h3{
	font-size: 30px;
	font-weight: normal;
	color: #272d33;
	letter-spacing: -1px;
	text-transform: uppercase;
	margin: 0 0 5px 0;
	line-height: 1.3;
}

.list {
	margin: 0 0 23px 0;
	padding: 0;
	list-style: none;
}
.list li {
	line-height: 1.428571429;
	margin: 0 0 1px 0;
	padding: 0 0 1px 0;
	font-size: 30px;
	color: $accent;
	border-bottom: 1px solid #dadbdc;
	position: relative;
	display: block;
}
.list li:before {
	position: absolute;
	left: 20px;
	top: 6px;
	background: none;
	content: "\f105" !important;
	font-family: FontAwesome;
	content: '';
}
.list li a {
	color: $accent;
	font-weight: bold;
	font-size: 19px;
	text-transform: uppercase;
	background: transparent;
	padding: 17px 0 18px 46px;
	display: block;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.list li:hover {
	color: #ffffff;
}
.list li:hover a {
	color: #ffffff;
	background: $accent;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.list li:last-child {
	border-bottom: none;
}

.galery {
	padding-top: 25px;
	.row{
		@media (max-width: 992px) {
			justify-content: center;
		}
	}
	.heading{
		margin: 0;
		margin-bottom: 40px;
		color: $accent;
		font-weight: normal;
	}
	.thumbnail-wrap{
		margin-bottom: 30px;
	}
}
.galery .thumbnail {
	position: relative;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 0;
	background: none;
	overflow: hidden;
}
.galery .thumbnail .caption {
	padding: 23px 20px 32px 20px;
	overflow: hidden;
	border: 1px solid #dadbdc;
	border-top: none;
}
.galery .thumbnail .caption a {
	color: #272d33;
	font-size: 30px;
	text-transform: uppercase;
	transition: all 0.25s;
}
.galery .thumbnail .caption a:hover {
	color: $accent;
}
.galery .thumbnail .caption p {
	margin: 6px 0 0 0;
}
.galery .thumbnail figure {
	margin: 0;
	height: 283px;
}
.galery .thumbnail figure img {
	height: 100%;
}


.thumb-box16 {
	padding-top: 30px;
	padding-bottom: 60px;
	@media (max-width: 992px) {
		text-align: center;
	}
	.heading{
		margin: 0;
		margin-bottom: 20px;
		color: $accent;
		font-weight: normal;
	}
}


#contact-form{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	input, textarea{
		width: 100%;
		margin-bottom: 25px;
		border: 1px solid #dadbdc;
		padding: 15px;
		font-size: 15px;
		color: #6a6d6f;
	}
	input{
		height: 50px;
	}
	button{
		cursor: pointer;
		display: inline-block;
		font-size: 19px;
		background: #272d33;
		text-transform: uppercase;
		color: #ffffff;
		transition: all 0.35s;
		width: 130px;
		height: 70px;
		border: none;
		@media (max-width: 992px) {
			width: 170px;
			height: 50px;
		}
		&:hover{
			background: #fc5a0a;
		}
	}
}


.burger {
	$toggler-part-height: 4px;
	$toggler-part-bg-color: $accent;
	display: none;
	position: relative;
	z-index: 10;
	padding: 0;
	width: 30px;
	background: transparent;
	border: none;
	user-select: none;
	cursor: pointer;
	outline: none;
	align-self: center;
	margin-left: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	@media (max-width: 992px) {
		display: block;
	}
	@media (max-width: 576px) {
		margin-right: 15px;
	}
	@media (max-width: 340px) {
		margin-right: 15px;
	}
	&:focus {
		outline: 0;
	}
	span {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		height: $toggler-part-height;
		font-size: 0;
		color: transparent;
		background: $toggler-part-bg-color;
		transition: background .3s;
		&:before,
		&:after {
			content: '';
			position: absolute;
			left: 0;
			width: 100%;
			height: $toggler-part-height;
			background: $toggler-part-bg-color;
			transform-origin: 50% 50%;
			transition: top .3s, transform .3s;
		}
		&:before {
			top: -10px;
		}
		&:after {
			top: 10px
		}
	}
	&--close {
		span {
			transition: background .3s 0s;
			background: transparent;
			&:before,
			&:after {
				transition: top .3s, transform .3s;
				top: 0;
			}
			&:before {
				transform: rotate3d(0, 0, 1, 45deg);
			}
			&:after {
				transform: rotate3d(0, 0, 1, -45deg);
			}
		}
	}
}

.popup{
	background-color: #fff;
	width: 100%;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 20px;
	position: relative;
}

.popup .mfp-close{
	width: 54px;
	height: 54px;
	line-height: 54px;
	font-size: 38px;
	outline: 0;
	color: $accent;
	transition: .25s;
	&:hover{
		color: darken($accent, 5%);
	}
}

.popup__title {
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
	margin-bottom: 25px;
	color: $accent;
	font-weight: bold;
}

.popup-form__field {
	height: 40px;
	display: block;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}

.popup-form-fileup {
	position: relative;
	display: block;
	width: 100%;
	cursor: pointer;
	&::before{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		font-size: 25px;
		left: 0;
		content: "\f15b";
		background-position: -21px -175px;
	}
}

.popup-form-fileup__file-name{
	display: inline-block;
	padding-left: 30px;
	width: 95%;
	span{
		overflow: hidden;
		max-width: 95%;
		border-bottom: 2px dotted #303030;
		color: #303030;
		text-overflow: ellipsis;
		white-space: nowrap;
		word-wrap: normal;
		font-weight: 400;
		font-size: 16px;
	}
}

.popup-form-fileup input[type=file]{
	position: absolute;
	overflow: hidden;
	clip: rect(0,0,0,0);
	margin: -1px;
	padding: 0;
	width: 1px;
	height: 1px;
	border: 0;
}

.popup-form__radio-wrapper {
	label{
		display: flex;
		align-items: center;
	}
}

.popup-form input[type=radio] {
	display: none;
}


.popup-form input[type=radio]+label {
	position: relative;
}

.popup-form__submit {
	background-color: $accent;
	color: #ffffff;
	border: none;
	width: 225px;
	height: 40px;
	text-transform: uppercase;
	cursor: pointer;
}

.popup-form .row{
	justify-content: center;
}

.popup-form__circle{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 19px;
	height: 19px;
	background-color: #efefef;
	border-radius: 50%;
	margin-right: 10px;
	span{
		display: none;
		width: 7px;
		height: 7px;
		border-radius: 50%;
		background-color: #ae2b30;
	}
}

.popup-form input[type=radio]:checked+label .popup-form__circle span{
	display: block;
}

.cd-dropdown, .cd-select {
	margin: 0;
	width: 100%;
}

.cd-dropdown > span,
.cd-dropdown ul li:nth-last-child(-n+3) span {
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.cd-dropdown>span {
	height: 40px;
	line-height: 40px;
	font-weight: normal;
	border: 1px solid #666;
	padding-left: 15px;
	color: #666;
}

.cd-dropdown>span:after {
	top: 50%;
	transform: translateY(-50%);
	line-height: 1;
	padding: 0;
	height: auto;
	border-left: none;
}

.cd-dropdown ul {
	position: absolute;
	top: 0px;
	width: 100%;
}

.cd-dropdown ul li {
	position: absolute;
	width: 100% !important;
}


.cd-active.cd-dropdown > span,
.cd-active.cd-dropdown ul li span {
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.cd-active.cd-dropdown ul li span {
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-ms-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}

.cd-active.cd-dropdown ul li span:hover {
	background: $accent;
	color: #fff;
}

.cd-dropdown ul li span {
	padding-left: 15px;
	line-height: 40px;
}

.cd-dropdown span {
	box-shadow: none !important;
}

.popup__callToAction .row {
	flex-direction: column;
	align-items: center;
}

.popup__callToAction .popup-form__submit {
	margin-top: 10px;
}

.popup__partial {
	margin-bottom: 20px;
}